body {
    background-color: #231f20; /* You can adjust the color code as needed */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav {
    background-color: #141313;
    padding: 20px 0; /* Increase the padding to make the navbar thicker */
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make it span the entire width */
    z-index: 1000; /* Ensure it stays above other content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  /* Styling for the links inside the list items */
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
  }

  nav ul li a:hover {
    background-color: #555;
  }

p {
    text-align: center;
}

